html body {
    background-color : black;
    height : 100vh;
    padding : 0;
    margin : 0;
    background-size : 100%;
    color: white;
}

h1, h2, h3 {
    display : inline;
}

table tr td, table th {
    padding : 5px;
    text-align : center;
}

table a, table a:focus, table a:hover {
    color : white;
}

input {
    color : black;
}

figure {
    background: white none repeat scroll 0 0;
    border: 1px solid #dadada;
    margin: 10px;
    padding: 10px;
}

figure.large {
    width: 500px;
}

figure.large img {
    text-align : center;
    width : 478px;
}

figure.medium {
    width: 300px;
}

figure.medium img {
    text-align : center;
    width : 278px;
}

figure.tiny {
    width: 200px;
}

figure.tiny img {
    text-align : center;
    width : 178px;
}


figcaption {
    background: #f4f4f4 none repeat scroll 0 0;
    border: 1px dotted #dadada;
    margin-top: 5px;
    padding: 5px;
    color : black;
}



/**********MAIN**********/
/**********MAIN**********/
#main {
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    padding: 1vh;
    display: block;
    min-height: 70vh;
    position: relative;
}


#main::after {
    content: "";
    background-image: url("../resources/swirl_pattern.png");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#main section{
    padding : 50px;
    background-color:black;
    opacity: 0.8;
}

#main section ul li figcaption {
    list-style : none;
    display : inline-block;
}






/**********HEADER**********/
/**********HEADER**********/
header {
    background: black url("../resources/ban2.png") no-repeat;
    background-size: 100%;
    transition : 0.5s;
    /*background-position: 0 -30px;*/
    display : block;
    height: 30vh;
}

header nav {
    transition: 0.5s;
    display : block;
    background-color : black;
    opacity : 0.5;
    padding : 15px;
    position : fixed;
    width : 213vh;
}

header a {
    color : white;
}

header a:hover {
    color : white;
    text-decoration: none;
}

header nav:hover {
    opacity : 0.9;
}

header nav h2 {
    font-family: "Alice in Wonderland";
    width : 30%;
    text-align : left;
}

header nav span {
    transition : 0.5s;
    width : 30%;
    padding-right : 10px;
    text-align:right;
    float : right;
}

header nav span:hover {
    color : burlywood;
}


/**********FOOTER**********/
/**********FOOTER**********/
footer {
    opacity: 0.9;
    padding : 10px;
    background-color : black;
    display : block;
    height: 5vh;
}

footer p {
    text-align : center;
}